build
*.swp
*.swo
__pycache__
.idea
DYON_tests/STREAMSettings_final.h5
DYON_tests/STREAMSettings_initial.h5
DYON_tests/output_final.h5
DYON_tests/output_initial.h5
*.h5
*.aux
*.log
*.run.xml
*.out
*.toc
*.bcf
.gdb_history
