build
*.swp
*.swo
__pycache__
.idea
DYON_tests/Read_mat.py
*.h5
*.aux
*.log
*.run.xml
*.out
*.toc
*.bcf
*Data
examples/ECH/TCV/debug/*
src/.metadata/*
tcvstream
tcvstream/
tcvstream/*
src/Equations/save/*
src/Equations/save
src/Equations/save/
.metadata/*
.metadata*
src/Equations/ConfTimeSave.cpp
